<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Ashwani. It uses data from darksky and mapbox api to provide the weather of the location you want to get.</p>
        <p>Check out Ashwani github repository for more information at <a href="https://github.com/ashwanitr001">GitHub</a> </p>
        <img class="portrait" src="/img/pika.png">
    </div>
    
    {{>footer}}
</body>

</html>